html {
    line-height: 1.15;
}

body {
    width: max-content;
    background-color: wheat;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
}



header {
    background-color: teal;
    color: whitesmoke;
    text-align: center;
    height: 110px;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(3, 3, 3, 0.4);


}

footer {
    background-color: teal;
    color: whitesmoke;
    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(3, 3, 3, 0.4);

}

header img {
    float: right;
    max-width: 12em;
    box-shadow: 0 16px 8px rgba(3, 3, 3, 0.4);
}

header h1 {
    margin: 2.6rem;
    font-size: 1.8em;
}

main {
    padding: 1em;
}

main h2 {
    font-size: 1.2em;
}

main ul li {
    line-height: 1.8;
}

footer a {
    color: orange;
}